body {
    margin: 0;
}
div{
    box-sizing: border-box;
}
p, h3 {
    margin: 0;
}

$basic-grey-color : #F9F9F9;
$basic-white-color: white;
$border-style : 1px solid #E8E8E8;
$box-shadow : 1px 1px 3px 1px #E8E8E8;

@mixin width-height($width, $height) {
    width: $width;
    height: $height;
}

.d-flex {
    display: flex;
}

.main-background {
    @include width-height(100%, 100%);
    background-color: $basic-white-color;
}

.main-container{
    @extend .d-flex;
    @include width-height(90%, 100%);
    max-width: 1200px;
    margin: auto;
}
.side-menu {
    @extend .d-flex;
    @include width-height(50px, 100%);
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    background-color: #494CB4;
    transition: all 1s;

    div {
        padding: 20px 0;
    }
    .side-wrap p {
        display: none;
    }
}
.side-menu:hover {
    width: 120px;
    align-items: start;

    .side-wrap {
        @extend .d-flex;
        width: 100%;
        align-items: center;
        padding-left:15px;
    }
    p {
        display: block;
        margin-left: 8px;
        color: $basic-white-color;
    }
}
.side-menu:hover + .main-area {
    width: calc(100% - 120px);
}

.main-area {
    width: calc(100% - 50px);
    height: 100%;
}
.navbar {
    @extend .d-flex;
    @include width-height(100%, 60px);
    border-bottom: 2px solid #F3F3F3;
}
.nav-left {
    @extend .d-flex;
    @include width-height(50%, 100%);
    align-items: center;
    padding: 10px 20px;
    font-size: 0;
    
    input {
        @include width-height(150px, 25px);
        padding: 2px 10px;
        border: $border-style;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        transition: all 1s;
    }
    input:focus {
        width: 250px;
        border: 2px solid skyblue;
    }

    button {
        height: 31px;
        background: #343A40;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}
.nav-right{
    @extend .d-flex;
    @include width-height(50%, 100%);
    align-items: center;
    justify-content: end;

    div {
        padding: 10px 13px;
    }
    p{
        font-size: 14px;
        letter-spacing: -1px;
        color: #808080;
    }
}
.nav-mb-bar{
    display: none;
    margin: auto 0;
}

.container {
    @include width-height(100%, calc(100% - 60px));
    padding: 20px 15px;
    background-color: $basic-grey-color;
}

.item-container{
    @extend .d-flex;
    align-items: center;
    justify-content: space-between;
    height: 140px;
}
.item {
    @extend .d-flex;
    @include width-height(250px, 70%);
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 5px;
    border: $border-style;
    box-shadow: $box-shadow;

    div {
        padding-right: 20px;
    }
    p {
        margin-bottom: 10px;
        font-size: 14px;
    }
}
.bg-blue{
    border-left: 3px solid #87CEEB;
}
.bg-green{
    border-left: 3px solid #5ACE70;
}
.bg-purple{
    border-left: 3px solid #494BB3;
}
.bg-orange{
    border-left: 3px solid #FAD788;
}

.table-container{
    @extend .d-flex;
    justify-content: space-between;

    p {
        font-weight: 600;
        font-size: 17px;
        padding: 10px 15px;
        border-bottom: $border-style;
    }
}
.chart-area{
    width: 65%;
    border-radius: 5px;
    border: $border-style;
    box-shadow: $box-shadow;

    .chart { 
        background: $basic-white-color;
    }
}
.tasks-area {
    @include width-height(30%, 100%);
    border-radius: 5px;
    border: $border-style;
    box-shadow: $box-shadow;
}
.tasks-list {
    background-color: $basic-white-color;

    div {
        padding: 10px 15px;
        border: $border-style;
    }
}


@media screen and (max-width: 1300px) {
    .item-container{
        justify-content: space-around;
        flex-wrap: wrap;
        height: auto;
        padding: 10px 0;
    }
    .item {
        width: 48%;
        margin: 5px 0;
    }
}
@media screen and (max-width: 768px) {
    .side-menu {
        width: 30px;
    }
    .side-menu:hover {
        width: 100px;

        .side-wrap{
            padding-left: 10px;
        }
        p{
            margin-left: 6px;
        }
    }
    .side-menu:hover + .main-area {
        width: calc(100% - 100px);
    }
    .main-area {
        width: calc(100% - 30px);
    }
    .navbar {
        justify-content: end;
    }
    .nav-left{
        display: none;
    }
    .nav-right{
        display: none;
    }
    .nav-mb-bar{
        display: block;
        padding: 10px;
        border: $border-style;
        border-radius: 5px;

        i {
            font-size: 25px;
        }
    }
    .item-container{
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }
    .item {
        width: 100%;
        margin: 10px 0;
    }
    .table-container{
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 10px;
    }
    .chart-area{
        width: 100%;
    }
    .tasks-area{
        width: 100%;
        margin-top: 20px;
    }
}